.hero-content {
    padding: 300px 0 130px;
    background: $white-smoke;
}

.hero-content__title {
    display: block;
    font-family: $font-default-serif;
    // font-weight: ;
    font-style: italic;
    font-size: 40px;
    color: $black;
    margin-bottom: 30px;
}

.hero-content__text {
    display: block;
    font-family: $font-default-sans-serif;
    font-size: 20px;
    line-height: 1.5;
    color: $black;
}
