@font-face {
	font-family: "fonticons";
	src: url('assets/icons/fonticons.woff2?v=2022.3.2034751') format('woff2'), url('assets/icons/fonticons.woff?v=2022.3.2034751') format('woff'), url('assets/icons/fonticons.ttf?v=2022.3.2034751') format('truetype');
}

@mixin font-styles {
	font-family: "fonticons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

%font {
	@include font-styles;
}

@function font-char($filename) {
	$char: "";

	@if $filename == chevron-right {
		$char: "\E001";
	}
	@if $filename == clicking {
		$char: "\E002";
	}
	@if $filename == facebook {
		$char: "\E003";
	}
	@if $filename == happy {
		$char: "\E004";
	}
	@if $filename == instagram {
		$char: "\E005";
	}
	@if $filename == plus-circle {
		$char: "\E006";
	}
	@if $filename == twitter {
		$char: "\E007";
	}
	@if $filename == youtube {
		$char: "\E008";
	}

	@return $char;
}

@mixin font($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %font;
		} @else {
			@include font-styles;
		}
		content: font-char($filename);
	}
}

.font-chevron-right {
	@include font(chevron-right);
}
.font-clicking {
	@include font(clicking);
}
.font-facebook {
	@include font(facebook);
}
.font-happy {
	@include font(happy);
}
.font-instagram {
	@include font(instagram);
}
.font-plus-circle {
	@include font(plus-circle);
}
.font-twitter {
	@include font(twitter);
}
.font-youtube {
	@include font(youtube);
}
