/*--------------------------------------------------------------
## Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
	color: $black;
	font-family: $font-main;
	font-size: 14px;
	line-height: 1.6;
	font-weight: 300;
}

p {
	margin-bottom: 25px;
}

blockquote {
	margin: 0 25px;
}

pre {
	background: #ccc;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

// Icon font
[class*='font-'] {
	display: flex;
	align-items: center;
	justify-content: center;
	color: $black;
	font-size: 30px;
	line-height: 1;
}

/*--------------------------------------------------------------
## Entry Content
--------------------------------------------------------------*/
.entry-content {
	font-size: 14px;
	margin: 5px 0 0;
	line-height: 1.6;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-bottom: 15px;
		color: $black;
		font-family: $font-default-serif;
		line-height: 1.35;
	}

	h4,
	h5,
	h6 {
		font-family: $font-main;
	}

	h1 {
		font-size: 40px;
	}
	
	h2 {
		font-size: 25px;
	}

	h3,
	h4,
	h5,
	h6 {
		font-size: 14px;
		font-family: $font-main;
		font-weight: 500;
		margin-top: 52px;
		margin-bottom: 17px;

		@include mq($tablet, min) {
			font-size: 20px;
			margin-top: 70px;
			margin-bottom: 22px;
		}
	}

	p {
		line-height: 1.45;
		margin-bottom: 24px;
		font-size: 14px;

		@include mq($tablet, min) {
			font-size: 20px;
		}

		strong {
			font-weight: 400;
			color: $black;
		}

		&:last-child {
			margin-bottom: 5px;
		}
	}

	li {
		margin-bottom: 4px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	ul,
	ol {
		margin-bottom: 27px;
	}

	ul {
		li {
			position: relative;
			padding-left: 17px;
			&::before {
				content: '';
				position: absolute;
				top: 9px;
				left: 0;
				width: 4px;
				height: 4px;
				background-color: $grey-dark;
				display: inline-block;
				margin-right: 4px;
			}
		}
	}

	ol {
		margin-left: 28px;

		li {
			list-style: decimal;

			a {
				display: inline;
				transition: $dur $ease;
				
				&:hover {
					color: $brown-light;

					&::before {
						display: none;
					}
				}
			}
		}
	}

	a {
		display: inline-block;
		position: relative;
		font-weight: 600;
		color: $brown;
		font-size: 15px;

		&::before {
			content: '';
			position: absolute;
			left: 0;
			bottom: 3px;
			height: 1px;
			width: 0;
			background: $brown;
			transition: $dur $ease;
		}

		&:hover {
			&::before {
				width: 100%;
			}
		}
	}

	table {
		border-collapse: collapse;
		color: $black;
		margin: 25px 0 35px;
		overflow-x: visible;
		table-layout: fixed;
		width: 100%;
		max-width: 700px;
		display: table;

		@include mq(767px) {
			display: block;
			overflow-x: scroll;
		}
	}

	tbody {
		width: 100%;

		@include mq(767px) {
			width: 700px;
			display: block;
		}
	}

	tr {
		vertical-align: top;

		&:first-child td {
			padding-top: 0;
		}
	}

	th {
		border-bottom: 2px solid $black;
		font-weight: 400;
		padding-bottom: 8px;
		color: $black;
	}

	td {
		padding: 0 5px 5px 0;

		strong {
			font-weight: 600;
		}
	}

	.btn-light {
		&::before {
			display: none;
		}
	}

	@include mq($tablet, min) {
		font-size: 20px;
		// white-space: pre-line;
		
		ul {
			li {
				padding-left: 27px;

				&::before {
					width: 8px;
					height: 8px;
					top: 12px;
				}
			}
		}
	}
}

.section-title {
	display: block;
	margin-bottom: 20px;
	font-size: 30px;
	font-family: $font-default-serif;
	font-style: italic;
	line-height: 1.2;

	@include mq($tablet, min) {
		font-size: 40px;
	}
}

.section-title--small {
	font-size: 30px;
}